<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Quest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="title">💫 Daily Quest 💫</h1>
        <p class="text-center mb-4">Embark on a journey of self-improvement with G and A</p>
        <p class="text-center mb-4 current-date" id="current-date">{{ current_date }} (EST)</p>

        <!-- Rest of the HTML remains unchanged -->

    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
